div.left {
  width: 17.4%;
  align-content: center;
}
div.left li {
  list-style-position: inside;
  font-size: 1vw;
}
div.left img {
  /* for responsive image */
  width: 50%;
  height: auto;
  padding: 2vw;
}
div.left a {
  font-size: 1.25vw;
  color: white;
}
div.left a span {
  display: inline-block;
}
div.center {
  display: flex;
  align-items: flex-start;
  width: 42%;
}
div.center img {
  width: 100%;
  height: auto;
}
div.right {
  width: 40.6%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
div.right img {
  /* for responsive image */
  width: 50%;
  height: auto;
  padding: 2vw;
}
div.right p {
  font-size: 1vw;
  margin: 0 4vw; /* top,bottom 0 right,left 4vw */
}
@media only screen and (orientation:portrait), 		/*	comma for OR  */
			screen and (max-device-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
  div.left {
    width: 100%;
    flex-direction: column;
  }
  div.left li {
    font-size: 2vw;
  }
  div.left a {
    font-size: 2.25vw;
  }
  div.center {
    width: 100%;
  }
  div.right {
    width: 100%;
  }
  div.right p {
    margin: 2vw;
    font-size: 2vw;
  }
}